body {
    padding: 0;
    margin: 0;
}

.hidden {
    display: none !important;
}

h1 {
    color: black !important;
    font-size: 64px;
}

.winner {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;

}

/* button {
    margin-left: 100px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
    border: #599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color: white;
	font-family:Arial;
	font-size: 16px;
	font-weight:bold;
	padding :10px 20px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
} */